{% extends 'base.html' %}
{% load static %}
{% block content %}

<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head>

<h3>{{msg}}</h3>
<h2>List of buses</h2>
<table class="table table-striped" >
    <thead>
    <td>BUS ID</td>
    <td>REGISTRATION NO.</td>
    <td>SOURCE</td>
    <td>DESTINATION</td>
    <td>AVAILABLE SEATS</td>
    <td>DISTANCE</td>
    <td>TYPE</td>
    <td>DEPARTURE TIME</td>
    <td>ARRIVAL TIME</td>


    </thead>

    {% for a in obj %}
    <tr>
        <td>{{a.id}}</td>
        <td>{{a.reg_no }}</td>
        <td>{{a.source}}</td>
        <td>{{a.destination}}</td>
        <td>{{a.available_seat}}</td>
        <td>{{a.distance}}</td>
        <td>{{a.type}}</td>
        <td>{{a.d_time}}</td>
        <td>{{a.a_time}}</td>

    </tr>
    {% endfor %}
</table>
{% if user.is_authenticated %}
<div class="content-section">
    <form action="bookings" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Bus Booking</legend>

        </fieldset>
        <div>
            <input name='bus_id' class="form-control" type="number" id="example-email-input" placeholder="Enter ID of the Bus to Book">
        </div>
        <div>
            <input name='no_seats' class="form-control" type="number" placeholder="Enter No of Seats to Book Here">
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Book</button>
        </div>
        {{error}}
    </form>
    {% else %}
    <fieldset>
        <p>NOTE:- FOR BOOKING PLEASE LOGIN FIRST</p> <button class="btn btn-outline-info"><a href="{% url 'login' %}">Login</a></button>
    </fieldset>
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}